* {
    margin: 0;
    padding: 0;
}

footer {
    background-color: black;
    padding: 20px 0;
    color: white;
    text-align: center;
}

/* .copy {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
} */